/*Large devices, Wide Screens */
@media only screen and (max-width:1200px){

}

/* Medium devices, Desktop */
@media only screen and (max-width:992px){
    
}

/* Small devices, tablet */
@media only screen and (max-width: 768px){

}

/*Extra small devices, Phones*/


/*Custom, Iphone, Retina*/
/*Custom, Iphone, Retina*/
@media only screen and (max-width: 500px){
    body{
        padding: 0px 40px;
    }
    .calc{
        max-width:80%;
        margin: 0px 40px;
        max-height:80%;
    }
    .calc__btn{
      max-width: 70px;
      max-height: 70px;
      font-size: 29px;
      padding: 5px;
    }
    .calc__btn_equal{
        min-width: 170px;;
    }
    .calc__result{
        max-width:100%; }
}
