/*Large devices, Wide Screens */
@media only screen and (max-width:1200px){

}

/* Medium devices, Desktop */
@media only screen and (max-width:992px){
    
}

/* Small devices, tablet */
@media only screen and (max-width: 768px){

}

/*Extra small devices, Phones*/
@media only screen and (max-width: 480px){

}

/*Custom, Iphone, Retina*/
@media only screen and (max-width: 420px){
    .calc{
        min-width:90%;
    }
    .calc__btn{
      width: 50px;
      max-height: 60px;
      font-size: 12px;
      padding: 5px;
    }
    .calc__btn_equal{
        min-width: 170px;;
    }
}
